<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>VibeKey</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vibekey</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exp+vibeapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your camera</string>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Medium.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>DancingScript-SemiBold.ttf</string>
		<string>GrapeNutsRegular.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>HomemadeApple-Regular.ttf</string>
		<string>imglyfontpoppins.ttf</string>
		<string>Inconsolata-VariableFont_wdth,wght.ttf</string>
		<string>LobsterTwo-Regular.ttf</string>
		<string>Merriweather.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
		<string>Montserrat.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Quicksand-regular.ttf</string>
		<string>Quicksand-VariableFont_wght.ttf</string>
		<string>Quicksand_bold.ttf</string>
		<string>Raleway-Italic-VariableFont_wght.ttf</string>
		<string>Raleway-VariableFont_wght.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>RubikGlitch-Regular.ttf</string>
	</array>
</dict>
</plist>
